/** == Main == **/
body {
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/** == Section Colours == **/
.coloured-block {
    width: 100%;
    padding: 30px 0px;
    color: #fff;
}

.colour1 {
    background: rgb(119, 136, 153);
}


