<!--= Experiences =-->

<section id="experience" class="experience bg-primary">
    <div class="container">
        <div class="row text-center">
            <div class="col-lg-10 col-lg-offset-1">
                <h2>Experiences</h2>
                <hr class="small">
                <br>
                <p class="lead">Currently work at <em>Tim Hortons</em> since August 2015. Previously worked in
                    Construction
                    for <em>FDA Pattern Concrete</em>
                    from June 29th, 2013 to September 2nd, 2015 during Summer breaks.</p>
            </div>
        </div>
    </div>
</section>