<!--= About =-->

<section id="about" class="about blackText">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>You seem interested? Well here you go!</h2>
                <p class="lead">My name is Frank. I am currently studying "Interactive Web Development and Design"
                    at
                    Georgian College. I had started coding at the age of ten and still continuing at
                    eight-teen. </p>
            </div>
        </div>
    </div>
</section>