<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body>

<% include ../partials/header %>

<% include ../pages/about %>

<% include ../pages/skills %>

<% include ../pages/project %>

<% include ../partials/footer %>

</body>
</html>