<!--= Services =-->

<% include ../partials/head %>
<% include ../partials/header %>

<section id="about" class="header whiteText">
    <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Services</h2>
        <hr class="small">
        <br>
        <div class="text-vertical-center">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <p class="lead"> I am dedicated to creating powerful, effective and engaging websites. My bold
                        design
                        style and use of ultra-clean, standards-based markup code combine to produce websites that boast
                        exceptional search engine result positions, increased conversions and superior visitor
                        loyalty! </p>

                    <p class="lead">I offer many different services to help you get set up for success. If you don’t
                        want to bother figuring out web hosting, I can do it for you! Don’t want to get your logo from
                        one place and your website from another? I can do it all! From start to finish, I will assist
                        you with all your needs.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<% include ../partials/footer %>